{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<h1>Nouvelles actualités</h1>
		{% for d in data %}
			<div class="jumbotron">
				<h2 class="display-4">{{d.name}}</h2>
				<p class="lead">
					{% autoescape %}
						{{ d.category|raw }}
						{# var won't be escaped #}
					{% endautoescape %}
				</p>
				<hr class="my-4">
				<p>
					{% autoescape %}
						{{ d.description|raw }}
						{# var won't be escaped #}
					{% endautoescape %}
				</p>
				<a class="btn btn-primary btn-lg" href="/articles/{{d.id}}" role="button">Voir les articles récent de cette source</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
